.menu-nav {
  position: fixed;
  left: 5%;
  top: var(--nav-height);
  width: 90%;
  box-shadow: 0 2px 6px rgba(65, 11, 16, 0.15);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--container-color);
  transform: translateY(-365px);
  transition: 0.3s;
}

.menu-nav.active {
  transform: translateY(10px);
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  overflow: hidden;
  background-color: var(--container-color);
}

.navigation-li {
  margin: 15px 0;
  transition: 0.2s;
}

.navigation-li:nth-child(1) {
  border-bottom: 2px solid var(--first-color);
}

.navigation-li:hover {
  transform: scale(1.1, 1.1);
}

.navigation-a {
  text-decoration: none;
  color: var(--title-color);
}

.navigation-a:hover {
  color: var(--first-color);
}

.navigation-li:nth-of-type(1) {
  margin-top: 30px;
}

.navigation-li:nth-child(4) {
  margin-bottom: 30px;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  background-color: var(--container-color);
  box-shadow: 0 2px 2px -2px var(--first-color);
  z-index: 3;
}

.navigation-text {
  margin-left: 20px;
  color: var(--title-color);
}

.bars {
  margin-right: 20px;
  cursor: pointer;
}

.change-theme {
  position: relative;
  width: 48px;
  height: 24px;
  border: 3px solid black;
  border-radius: 15px;
  margin-right: 100px;
  background-color: rgb(235, 230, 230);
  margin: 0 auto 25px auto;
  cursor: pointer;
}
@media (min-width: 620px) {
  .change-theme .navigation-text {
    font-weight: bold;
  }
  .change-theme .menu-gift {
    flex-direction: row-reverse;
    align-items: center;
    width: 90%;
    margin: 140px auto 50px auto;
  }
  .change-theme .menu-gift-image {
    height: 350px;
    margin-left: 20px;
  }
  .change-theme .sharing-container {
    flex-direction: row-reverse;
    width: 100%;
    padding-right: 20px;
  }
  .change-theme .sharing-content {
    justify-content: center;
  }
  .change-theme .sharing-headline,
  .change-theme .sharing-text,
  .change-theme .sharing-btn {
    text-align: left;
  }
  .change-theme .sharing-btn {
    margin: 0;
  }
  .change-theme .sharing-image {
    height: 350px;
    padding-right: 15px;
  }
  .change-theme .decoration-items {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .change-theme .decoration-item {
    width: calc(50% - 20px);
    margin: 10px;
  }
  .change-theme .accessories-image {
    width: 55%;
  }
  .change-theme .send-container {
    flex-direction: row;
    padding-right: 10px;
  }
  .change-theme .send-image {
    height: 240px;
  }
  .change-theme .send-headline {
    text-align: left;
  }
  .change-theme .send-text {
    text-align: left;
  }
  .change-theme .send-content {
    padding-right: 20px;
  }
  .change-theme .our-links {
    flex-direction: row;
  }
  .change-theme .gift-and-company-container,
  .change-theme .services-and-socials-container {
    width: 50%;
  }
  .change-theme .services-and-socials-container {
    padding-left: 25px;
  }
  .change-theme .navigation-text {
    margin-left: 130px;
  }
}
@media (min-width: 800px) {
  .change-theme .bars {
    display: none;
  }
  .change-theme ul {
    flex-direction: row;
    justify-content: space-around;
    padding-left: 15px;
    width: 430px;
  }
  .change-theme .menu-nav {
    position: fixed;
    left: 45%;
    top: 0;
    width: 500px;
    box-shadow: 0 0 0 white;
    border-radius: 0;
  }
  .change-theme .navigation-li {
    margin: 10px 40px 0 0;
  }
  .change-theme .navigation-li:nth-of-type(1) {
    margin-top: 10px;
  }
  .change-theme .navigation-li:nth-child(4) {
    margin-bottom: 0;
  }
  .change-theme .decoration-item,
  .change-theme .accessories-item {
    width: calc(33.33% - 20px);
  }
  .change-theme .send-container {
    width: 90%;
    margin: 100px auto;
    border-radius: 15px;
  }
  .change-theme .change-theme {
    position: absolute;
    top: 10px;
    right: 20px;
  }
}
@media (min-width: 1024px) {
  .change-theme .menu-gift-headline {
    font-size: 50px;
  }
  .change-theme .menu-gift-image {
    height: 550px;
  }
  .change-theme .sharing-image {
    height: 550px;
  }
  .change-theme .wrap {
    max-width: 1250px;
    margin: 0 auto;
  }
  .change-theme .navigation-text {
    margin-left: 250px;
  }
  .change-theme .text {
    font-size: 18px;
  }
  .change-theme .menu-nav {
    left: 50%;
  }
  .change-theme .sharing-text {
    width: 80%;
  }
}
@media (min-width: 1220px) {
  .change-theme .our-links,
  .change-theme .gift-and-company-container,
  .change-theme .services-and-socials-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .change-theme .christmas-gift,
  .change-theme .our-company,
  .change-theme .our-services,
  .change-theme .social {
    width: 25%;
  }
  .change-theme .sharing-content {
    padding-left: 40px;
  }
}

.switch {
  position: absolute;
  top: 2px;
  left: 3px;
  height: 15px;
  width: 15px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s;
}

.switch.active {
  transform: translateX(21px);
}

.arrow-up {
  z-index: 10;
  position: fixed;
  bottom: 20px;
  right: 15px;
  padding: 10px;
  background-color: var(--first-color-alt);
  border-radius: 5px;
  opacity: 0;
  transition: 0.4s;
  color: white;
}

.arrow-up.active {
  animation: moveArrow 2s infinite;
  opacity: 0.9;
}

.arrow-up.active:hover {
  opacity: 1;
}/*# sourceMappingURL=menu.css.map */