.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
  margin: 0 auto 40px auto;
  color: var(--text-color-light);

  &__company {
    display: flex;
    flex-direction: column;
  }

  h4 {
    margin-bottom: 10px;
    color: var(--title-color);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  &__link-a {
    text-align: center;
    color: black
  }

  &__link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color-light);
  }

  &__links-container {
    display: flex;
    gap: 20px;
  }
  
  &__headline {
    margin-top: 20px;
  }
  
  &__link-a:hover {
    color: var(--first-color-send);
  }
  
  &__link-a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-light);
    width: 48px;
    height: 48px;
    transition-duration: 0.3s;
    transition-property: color;
  }
  
  &__last-text {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--text-color-light);
  }
  
  &__text {
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--text-color-light);
  }

  &__column:nth-child(2), &__column:nth-child(3) {
    flex-direction: column;
  }

  @media (max-width: 1120px) {
    &__column {
      flex-basis: 50%;
    }
  }
  
  @media (max-width: 660px) {
    &__column {
      flex-basis: 100%;
    }
  }
}

.move-animation {
  transform: translateX(0);
  opacity: 1;
}