@keyframes moveArrow {
  0% {
    transform: translateY(0);
  }

  37.5% {
    transform: translateY(-30px);
  }

  75% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes moveFromTop {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
