.our-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 90%;
  margin: 0 auto 40px auto;
  color: var(--text-color-light);
}

.footer__company {
  display: flex;
  flex-direction: column;
}

.company__link {
  text-decoration: none;
  margin-bottom: 10px;
  color: var(--text-color-light);
}

.our-links h4 {
  margin-bottom: 10px;
  color: var(--title-color);
}

.footer__content {
  display: flex
}

.our-services {
  transition-delay: 0.3s;
}

.social {
  transition-delay: 0.4s;
}

.our-services {
  display: flex;
  flex-direction: column;
}

.services__link {
  margin-bottom: 10px;
}

.footer__link-a {
  color: black
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 20px 0 0;
  transition: 0.3s;
}

.footer__link {
  text-decoration: none;
  color: var(--text-color-light);
}

.footer__links-container {
  gap: 20px
}

.footer__headline {
  margin-top: 20px;
}

.footer__link-a:hover {
  color: var(--first-color-send);
}

.footer__link-a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-light);
  width: 48px;
  height: 48px;
  transition-duration: 0.3s;
  transition-property: color;
}

@media (min-width: 800px) {
  .footer__links-container {
    display: flex;
  }
}